$colorGray: #202020;
$colorGray2: #4A4A4A;
$colorGray3: #333333;
$colorGray6: #666666;
$colorGray8: #808080;
$colorGray9: #999999;
$colorGrayC: #C4C4C4;
$colorLiteGray: #E9E9E9;
$colorWhite: #FFFFFF;
$colorOrange: #FF6E30;
$colorOrangeF: #F06666;
$colorDarkOrange: #CE4307;
$colorDarkOrange2: #BC572B;
$colorRed: #FF3030;