@import '_mixin.scss';

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;    
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-bold.woff2");
    src: local("Roboto-Bold"), url("../fonts/roboto-bold.woff2"),
      format("woff2"), url("../fonts/roboto-bold.woff"), format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/roboto-regular.woff2");
    src: local("Roboto-Regular"), url("../fonts/roboto-regular.woff2"),
      format("woff2"), url("../fonts/roboto-regular.woff"), format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Firs Neue";
    src: url("../fonts/TTFirsNeue-Bold.woff2");
    src: local("Neue-Bold"), url("../fonts/TTFirsNeue-Bold.woff2"),
      format("woff2"), url("../fonts/TTFirsNeue-Bold.woff"), format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Firs Neue";
    src: url("../fonts/TTFirsNeue-Medium.woff2");
    src: local("Neue-Medium"), url("../fonts/TTFirsNeue-Medium.woff2"),
      format("woff2"), url("../fonts/TTFirsNeue-Medium.woff"), format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "TT Firs Neue";
    src: url("../fonts/TTFirsNeue-Regular.woff2");
    src: local("Neue-Regular"), url("../fonts/TTFirsNeue-Regular.woff2"),
      format("woff2"), url("../fonts/TTFirsNeue-Regular.woff"), format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

body {
    display: grid;
    height: 100vh;
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 80px 1fr 20% 1fr;
    gap: 30px;
    grid-template-areas:
        "header header"
        "main main"
        "footer footer";
    @include fontTT;
}

.list-reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container {
    display: grid;
    max-width: 1350px;
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    grid-template-columns: repeat(8, 1fr);
    gap: 30px;
}