@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.woff2");
  src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.woff2"),
    format("woff2"), url("../fonts/OpenSans-Regular.woff"), format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiBold.woff2");
  src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.woff2"),
    format("woff2"), url("../fonts/OpenSans-SemiBold.woff"), format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.woff2");
  src: local("OpenSans-Italic"), url("../fonts/OpenSans-Italic.woff2"),
    format("woff2"), url("../fonts/OpenSans-Italic.woff"), format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.woff2");
  src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.woff2"),
    format("woff2"), url("../fonts/OpenSans-Bold.woff"), format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  /* Colors */
  --color-white: #fff;
  --color-black: #000000;
  --color-lite-black: #18171b;
  --color-purple: #c283f3;
  --color-lite-purple: #d1a9f0;
  --color-dark-purple: #7943a4;
  --color-dark-gray: #333333;
  --color-gray: #666666;
  --color-gray-b: #b7b7b7;
  --color-lite-gray: #cacaca;
  --color-lite-gray-9: #999999;
  --color-lite-gray-96: #969696;
  --color-lite-gray-e: #ececec;
  --color-lite-gray-ea: #eaeaea;
  --main: #9d5cd0;
  --outline: 2px solid var(--main);
  --color-red: red;

  /* Sizes */
  --container-max: 1700px;
  --container-padding: 50px;

  /* Transitions */
  --short: .3s ease;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  box-sizing: border-box;
  color: inherit;
  text-decoration: none;
}

img, svg {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  margin: 0;
}

p {
  margin: 0;
}

body {
  min-width: 320px;
  font-family: "OpenSans", sans-serif;
  font-size: 16px;
  line-height: 2;
  color: var(--color-black);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  max-width: var(--container-max);
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.link {
  position: relative;
  display: inline-block;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: color var(--short);
}

.link::before {
  content: "";
  position: absolute;
  left: -6px;
  right: -6px;
  top: -6px;
  bottom: -6px;
  background-color: var(--color-dark-purple);
  transform: scaleX(0);
  transition: transform var(--short);
}

.link:hover {
  color: var(--color-purple);
}

.link:focus:not(:hover):not(:active)::before {
  transform: scaleX(1);
}

.link:focus{
  outline: none;
}

.link:active {
  color: var(--color-dark-purple);
  transition: none;
}

.link__text {
  position: relative;
}

.gallery__link-outline {
  outline: 3px solid transparent;
  transition-property: color, background-color, outline;
  transition-duration: 0.3s;
}

.gallery__link-outline:focus {
  background-color: var(--color-dark-purple);
  outline-color: var(--color-dark-purple);
  outline-offset: 0;
}

.global-btn {
    position: relative;
    display: inline-block;
    width: 314px;
    height: 70px;
    border-radius: 100px;
    border: 3px solid transparent;
    background-color: var(--main);
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    line-height: 63px;
    color: var(--color-white);
    transition: background-color var(--short), border-color var(--short);
  }

  .global-btn::after {
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    width: calc(100% + 16px);
    height: calc(100% + 16px);
    border: 2px solid transparent;
    border-radius: 50px;
    transition-property: border-color;
    transition-duration: .3s;
  }

  .global-btn:hover {
   border-color: var(--color-lite-purple);
  }

  .global-btn:active {
    background-color: var(--color-dark-purple);
  }

  .global-btn:focus {
    outline: none;
  }

  .global-btn:focus:not(:active):not(:hover)::after {
    border-color: var(--color-purple);
  }
