.filter-choises {
  position: relative;
  overflow: hidden;
  margin-bottom: 24px;
  font-size: 16px;
  line-height: 1;
  color: var(--color-white);
  transition: background-color var(--short);
}

.filter-choises:focus {
  outline: none;
}

.filter-choises:hover{
  background-color: rgba(255, 255, 255, 0.2);
}

.filter-choises:last-child {
  margin-bottom: 0;
}

.filter-choises.is-open {
  overflow: visible;
}

.filter-choises.is-disabled .filter-choises__inner,
.filter-choises.is-disabled .filter-choises__input {
  background-color: #eaeaea;
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
}

.filter-choises.is-disabled .filter-choises__item {
  cursor: not-allowed;
}

.filter-choises [hidden] {
  display: none !important;
}

.filter-choises[data-type*="select-one"] {
  cursor: pointer;
}

.filter-choises[data-type*="select-one"] .filter-choises__inner {
  padding-bottom: 12px;
}

.filter-choises[data-type*="select-one"]::after {
  content: "";
  height: 8px;
  width: 8px;
  position: absolute;
  right: 15px;
  top: 50%;
  margin-top: -6px;
  border-right: 1px solid;
  border-bottom: 1px solid;
  pointer-events: none;
  transform: rotate(45deg);
  transform-origin: center;
}

.filter-choises[data-type*="select-one"].is-open::after {
  transform: rotate(225deg) translate(-2px, -2px);
}

.filter-choises__inner {
  position: relative;
  z-index: 2;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 12px 15px;
  border: 1px solid var(--color-white);
  border-radius: 6px;
  overflow: hidden;
}

.is-focused .filter-choises__inner,
.is-open .filter-choises__inner {
  background-color: rgba(255, 255, 255, 0.2);
}

.is-open .filter-choises__inner {
  border-radius: 6px;
}

.filter-choises__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.filter-choises__list--single {
  display: inline-block;
  width: 100%;
}

.filter-choises__list--single .filter-choises__item {
  width: 100%;
}

.filter-choises__list--dropdown {
  visibility: hidden;
  z-index: 2;
  position: absolute;
  width: 100%;
  border: 1px solid var(--color-lite-gray-9);
  top: 100%;
  margin-top: -1px;
  border-radius: 6px;
  overflow: hidden;
  word-break: break-all;
  will-change: visibility;
}

.is-active.filter-choises__list--dropdown {
  visibility: visible;
}

.filter-choises__list--dropdown .filter-choises__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.filter-choises__list--dropdown .filter-choises__item {
  position: relative;
  padding: 11px 19px;
  color: var(--color-lite-gray-9);
}

.filter-choises__list--dropdown .filter-choises__item:not(:last-child) {
  border-bottom: 1px solid;
}


.filter-choises__list--dropdown .filter-choises__item.is-selected {
  display: none;
}

@media (max-width: 1360px) {
  .filter-choises[data-type*="select-one"]::after {
    right: 17px;
    margin-top: -5px;
  }

  .filter-choises__inner {
    padding: 10px 15px;
  }
}

@media (max-width: 1001px) {
  .filter-choises__item--choice {
    background-color: var(--color-black);
  }
}

@media (max-width: 850px) {
  .filter-choises[data-type*="select-one"] {
    width: 280px;
}

.filter-choises__inner {
  padding: 11px 15px;
}
}

@media (min-width: 640px) {
  .filter-choises__list--dropdown .filter-choises__item--selectable {
    padding-right: 40px;
  }

  .filter-choises__list--dropdown .filter-choises__item--selectable::after  {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

@media (max-width: 600px) {
  .filter-choises[data-type*="select-one"] .filter-choises__inner {
    padding-bottom: 11px;
}

  .filter-choises[data-type*="select-one"] {
    width: 290px;
  }
}

.filter-choises__list--dropdown .filter-choises__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--color-white);
}

.filter-choises__item {
  cursor: default;
}

.filter-choises__item--selectable {
  cursor: pointer;
}

.filter-choises__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.5;
}
